{% extends 'base.html' %}

{% block head %}
<title>Sniffer to PCAP Converter</title>



{% endblock %}

{% block content %}
<header>
  <h1> Sniffer to PCAP</h1>
</header>




<div class="table-wrapper" align="center">
    
    {%  if tasks|length < 1 %}

    {%  else %}

    <table class='table table-striped' align="center" id="main_table">
       <thead>
        <tr>
            <th scope="col">Date Added</th>
            <!-- <th scope="col">File Name</th> -->
            <th scope="col">PreConverted File</th>
            <th scope="col">PCAP File</th>
            <th scope="col">Actions</th>
        </tr></thead>
        <tbody>
        {% for task in tasks %}
        {%  if task.user_id == user.id %}

        <tr>
            <td title="Date Added">{{ task.date_created.date() }}</td>
            <!-- <td title="File Name">{{  task.content }}</td> -->
            <td title="PreConverted File"><a href="/downloadpre/{{task.id}}">
              <span class="material-symbols-outlined" title="Download original file">
                file_download
                </span>
                </a>{{ task.content }}</td>
            <td title="PCAP File">
            {%  if task.data_converted is none %}
            <a href="/convert/{{task.id}}" onclick="document.body.style.cursor='wait'; return true;">
              <span class="material-symbols-outlined" title="Convert original to PCAP File">
                transform
                </span>
                </a>
              
            {%  else %}
            <a href="/downloadpost/{{task.id}}">
              <span class="material-symbols-outlined" title="Download PCAP file">
                description
                </span>
               </a>
            {%  endif %}</td>

            <td title="Action">
                <a href="/delete/{{task.id}}">
                <span class="material-symbols-outlined" title="Delete File">
                  delete_forever
                  </span></a>

                

                
                {%  if task.data_converted is not none %}
                {% else %}


                <a href =""  onClick="renameFileTaskId({{task.id}})" name="id-target" data-toggle="modal" data-target="#rename-input-box">
                  <span class="material-symbols-outlined" title="Rename File">
                    edit
                    </span>
                </a>
                
                <div class="modal fade" id="rename-input-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <form method="get" id="form-content">
                            <div class="form-group">
                              <textarea cols="5" rows="1" name="txt-content" class="form-control" id="txt-content" maxlength="20" placeholder="20 character limit"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" onClick="renameFile()" class="btn btn-primary" name="submit" value="content">Confirm rename</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <br>
                {%  endif %}
            </td>
        </tr>
        {%  endif %}
        {% endfor %}
        </tbody>
    </table>
    {%  endif %}

</div>

<div>
<label class="control-label">20mb File Limit</label>
<form action="/upload/" method="POST" enctype="multipart/form-data" id="InputForm">
<input id="input-b1" name="InputFiles[]" type="file" class="file" data-preview-file-type="text" multiple data-allowed-file-extensions='["log", "txt"]' data-browse-on-zone-click="true">
</form>



</div>





{% endblock %}

